<!-- <div class="wholedetails">
  <h2>{{value.album.name}}</h2>
 <h2> {{artist}}</h2>
 <h2>{{playcount}}</h2>
   <hr>
     <a class="btn btn-secondary btn-sm" href="#" role="button">Home</a>
     <a class="btn btn-secondary btn-sm" href="favs" role="button">WishList</a>
   
 </div> -->
 <!-- <mat-card > DETAILS </mat-card>
<br />
<mat-card class="container-fluid d-flex flex-wrap my-2"  fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
<mat-card class="card col-sm-12 col-md-4 col-lg-3" style="width: 18rem;">
 <mat-card-title>
   {{arrayOfMusic.album.name}}
 </mat-card-title>
 <mat-card-content>
   {{arrayOfMusic.album.artist}}
 </mat-card-content>
 <mat-card-content>
   {{arrayOfMusic.album.listeners}}
 </mat-card-content>
 <mat-card-content>
   {{arrayOfMusic.album.playcount}}
 </mat-card-content>
 <mat-card-actions align='end'>
   <button mat-flat-button (click)="addToWishlist(music)"> ADD </button>
 </mat-card-actions>
</mat-card> -->
<div class="container-fluid">
  <h2> Your DETAILS </h2>
  <div class="container-fluid d-flex flex-wrap my-2">
    <div class="card col-sm-12 col-md-4 col-lg-3" style="width: 18rem;" >

      <div class="card-body">
        <h5 class="card-title">Music Name : {{arrayOfMusic.name}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Artist : {{arrayOfmusic.album.comment}}</li>
      </ul>

      <div class="card-body">

      </div>
    </div>
  </div>
  </div>